/* Global */

body {
    font-family: 'Poppins', sans-serif;
    display: border-box;
}

hr {
    border-top: 1px solid #d9d9d9;
    margin: 0;
    width: 100%;

    /* Firefox  */
    color: #d9d9d9;
}


/* Containers */

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-panel {
    align-items: center;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    /* Adjust */
    padding: 0 4rem;
}

.right-panel {
    background-color: #F8F8F8;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /* Adjust */
    padding: 0 4rem;
}


/* Left Panel */

/** Text **/

h1 {
    font-size: 1.1rem;
    /* Adjust */
    margin: 4.25rem 0 3rem 0;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    /* Adjust */
    margin: 3rem 0;
}

.username-title {
    border-radius: 0.25rem;
    font-size: 1rem;
    /* Adjust */
    margin: 0 0 3rem 0;
}

/** Forms **/

.username-form, .channel-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
}

.username-form {
    box-shadow: 0px 0px 25px 5px #36bf51;
}

.username-form__input, .channel-form__input {
    border: 1px solid #808080;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-right: none;
    flex-grow: 1;
    padding: 0.5rem 1rem;

    /* Firefox */
    height: 18px;
    width: 202px;
}

.username-form__input:focus, .channel-form__input:focus {
    outline: none;
}

.username-form__button, .channel-form__button {
    background: linear-gradient(to right, #61be35, #35be95);
    border: 1px solid #808080;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
    font-size: 1.5rem;
    width: 36px;
}

.channel-form__button:disabled {
    background: linear-gradient(to right, #b6d9a9, #a9d9ca);
}

/** Channels **/

.channels-list {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.channels-list__item {
    background-color: white;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1rem;
    /* Adjust */
    margin-bottom: 1rem;
    padding: 0.7rem 1rem;



    transition: 0.125s;

}

.channels-list__item:hover, .channels-list__item--active {
    color: white;
    background: linear-gradient(to right, #61be35, #35be95);
    box-shadow: 5px 5px 5px #808080;
    transform: scale(1.1);
}

/* Right Panel */

/** Text **/

.channel-title {
    font-size: 3rem;
}

/** Messages **/

.messages-list {
    flex-grow: 1;
    list-style-type: none;
    overflow: auto;
    padding-left: 0;
}

.messages-list__item {
    display: flex;
    flex-direction: column;
}

.messages-list--padding {
    padding-right: 3rem;
}

.message-username {
    font-weight: bold;
    /* Adjust */
    padding-left: 1rem;
}

.message-timestamp {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 1rem;
}

.message-message {
    background-color: #E7E7E7;
    border-radius: 0.5rem;
    line-height: 1.75rem;
    /* Adjust */
    margin-top: 0;
    overflow-wrap: anywhere;
    padding: 0.75rem 1rem;
    width: fit-content;
}


.message-message--owner {
    background: #36bf51;
    color: white;
}


/** Form  **/

.message-form {
    display: flex;
    flex-direction: row;
    /* Adjust */
    margin: 4rem 0;
}

.message-form__input {
    border: 1px solid #E7E7E7;
    border-bottom-left-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    border-right: none;
    flex-grow: 1;
    padding: 1.75rem 1.75rem;

    /* Firefox */
    height: 18px; 
}

.message-form__input:focus {
    outline: none;
}

.message-form__button {
    background: linear-gradient(to right, #61be35, #35be95);
    border: 1px solid #E7E7E7;
    border-bottom-right-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    color: white;
    font-weight: bold;
    width: 76px;
}

.message-form__button:disabled {
    background: linear-gradient(to right, #b6d9a9, #a9d9ca);
}
