/* Global */

body {
    font-family: 'Poppins', sans-serif;
}

hr {
    border-top: 1px solid #D9D9D9;
    margin: 0;
    width: 100%;

    /* Firefox  */
    color: #D9D9D9;
}


/* Containers */

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-panel {
    align-items: center;
    background-color: #EEEEEE;
    box-shadow: 2px 0px 20px #D3D3D3;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: auto;
    padding: 0 4rem;
    z-index: 1;
}

.right-panel {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 4rem;
}


/* Left Panel Text */

.app-heading {
    border: 2px solid black;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    margin: 4rem 0;
    padding: 1rem;
}

.username-heading, .channel-heading {
    font-size: 1rem;
    font-weight: normal;
    margin: 4rem 0 2rem 0;
    text-transform: uppercase;
}

.username-title {
    border-radius: 0.25rem;
    font-size: 1rem;
    margin: 0 0 4rem 0;
}


/* Username & Channel Forms */

.username-form, .channel-form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Safari */
    flex-shrink: 0;
}

.channel-form {
    margin-bottom: 2rem;
}

.username-form {
    box-shadow: 0px 0px 25px 5px #36BF51;
    margin-bottom: 4rem;
}

.username-form__input, .channel-form__input {
    border: 1px solid #808080;
    border-bottom-left-radius: 0.25rem;
    border-right: none;
    border-top-left-radius: 0.25rem;
    flex-grow: 1;
    padding: 0.5rem 1rem;

    /* Firefox & Safari */
    height: 18px;
    width: 202px;

    /* Edge */
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.username-form__input:focus, .channel-form__input:focus {
    outline: none;
}

.username-form__button, .channel-form__button {
    background: linear-gradient(to right, #61BE35, #35BE95);
    border: 1px solid #808080;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
    font-size: 1.5rem;
    width: 36px;

    /* Safari */
    height: 36px;

    /* Edge */
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.channel-form__button:disabled {
    background: linear-gradient(to right, #b6d9a9, #a9d9ca);
}

.channel-form__input:disabled {
    background-color: white;
}


/* Channels */

.channels-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    width: 100%;
}


/* Firefox */
.channels-list:after {
    content: '';
    display: block;
    height: 3rem;
}

.channels-list__item {
    background-color: white;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.7rem 1rem;
    transition: 0.125s;
}

.channels-list__item:hover, .channels-list__item--active {
    background: linear-gradient(to right, #61BE35, #35BE95);
    box-shadow: 5px 5px 5px #808080;
    color: white;
    transform: scale(1.1);
}


/* Right Panel Text */

.channel-title {
    font-size: 3rem;
    margin: 4rem 0;
}


/* Messages */

.messages-list {
    /* Safari */
    flex: 1 1 0;
    list-style-type: none;
    margin: 0rem;
    overflow: auto;
    padding-left: 0;
}

.messages-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.messages-list__item:last-child {
    margin-bottom: -2rem;
}

.messages-list--padding {
    padding-right: 3rem;
}

.message-username {
    font-weight: bold;
    margin: 0rem 0 1rem 0;
    padding-left: 1rem;
}

.message-timestamp {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 1rem;
}

.message-message {
    background-color: #E7E7E7;
    border-radius: 0.5rem;
    line-height: 1.75rem;
    margin: 0;
    padding: 0.75rem 1rem;
}

.message-message--owner {
    background: #36BF51;
    color: white;
}


/* Messages Form */

.message-form {
    display: flex;
    flex-direction: row;
    margin: 4rem 0;
}

.message-form__input {
    border: 1px solid #E7E7E7;
    border-bottom-left-radius: 0.75rem;
    border-right: none;
    border-top-left-radius: 0.75rem;
    flex-grow: 1;
    padding: 1.75rem 1.75rem;

    /* Firefox & Safari */
    height: 18px; 

    /* Edge */
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.message-form__input:focus {
    outline: none;
}

.message-form__button {
    background: linear-gradient(to right, #61BE35, #35BE95);
    border: 1px solid #E7E7E7;
    border-bottom-right-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    color: white;
    font-weight: bold;
    width: 76px;

    /* Edge */
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.message-form__button:disabled {
    background: linear-gradient(to right, #B6D9A9, #A9D9CA);
}

.message-form__input:disabled {
    background-color: white;
}

/* Safari */
input::-webkit-input-placeholder {
    line-height: normal;
}
