/* Global */

body {
    font-family: 'Poppins', sans-serif;
}

hr {
    border-top: 1px solid lightgray;
    margin: 0;
    width: 100%;
}

/* Containers */

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-panel {
    align-items: center;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding: 0 4rem; /* Adjust */
}

.right-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 4rem; /* Adjust */
}


/* Left Panel */

/** Text **/

h1 {
    font-size: 1rem;
    /* Adjust */
    margin: 3rem 0;
    text-transform: uppercase;
}

h2 {
    font-size: 1.33rem;
    /* Adjust */
    margin: 3rem 0;
}

.username-title {
    background-color: white;
    border: 1px solid #61BE35;
    border-radius: 0.25rem;
    font-size: 1rem;
    /* Adjust */
    margin: 0 0 3rem 0;
    padding: 0.75rem;
}

/** Forms **/

.username-form, .channel-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
}

.username-form__input, .channel-form__input {
    border: 1px solid #808080;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-right: none;
    flex-grow: 1;
    padding: 0.5rem 1rem;
}

.username-form__input:focus, .channel-form__input:focus {
    outline: none;
}

.username-form__button, .channel-form__button {
    background-color: #61BE35;
    border: 1px solid #808080;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
    font-size: 1.5rem;
    width: 36px;
}

.username-form__button:disabled, .channel-form__button:disabled {
    background-color: #a7d492;
}

/** Channels **/

.channels-list {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.channels-list__item {
    background-color: white;
    border: 1px solid #61BE35;
    border-radius: 0.25rem;
    font-weight: bold;
    margin-bottom: 1rem;                              /* Adjust */
    padding: 0.75rem 1rem;
}

.channels-list__item--active, .channels-list__item:hover {
    background-color: #61BE35;
    color: white;
}



/* Right Panel */

/** Text **/

.channel-title {
    font-size: 3rem;
}

/** Messages **/

.messages-list {
    flex-grow: 1;
    list-style-type: none;
    overflow: auto;
    padding-left: 0;
}

.messages-list__item {
    overflow-wrap: break-word;
}


/** Form  **/

.message-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.message-form__input {
    border: 1px solid #cccccc;
    border-bottom-left-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    border-right: none;
    flex-grow: 1;
    padding: 1.75rem 1.75rem;
}

.message-form__input:focus {
    outline: none;
}

.message-form__button {
    background-color: #61BE35;
    border: 1px solid #cccccc;
    border-bottom-right-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    color: white;
    width: 76px;
}

.message-form__button:disabled {
    background-color: #a7d492;
}
