<!doctype html>

<html lang="en">

    <head>
        <title>Chatter</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
        <script src="/static/main.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div class="container">

            <div class="left-panel">

                <h1 class="app-heading">Chatter</h1>

                <hr>

                <h2 class="username-heading">Username</h2>
                <form class="username-form">
                    <input class="username-form__input" type="text" placeholder="Choose Username">
                    <button class="username-form__button">+</button>
                </form>
                <h3 class="username-title"></h3>

                <hr>

                <h2 class="channel-heading">Channels</h2> 
                <form class="channel-form">
                    <input class="channel-form__input" type="text" placeholder="Create Channel">
                    <button class="channel-form__button">+</button>
                </form>               
                <ul class="channels-list">
                </ul>
                
            </div>
            
            <div class="right-panel">
                
                <h3 class="channel-title"></h3>
                <ul class="messages-list">   
                </ul>
                
                <form class="message-form">
                    <input class="message-form__input" type="text" placeholder="Send a message...">
                    <button class="message-form__button">Send</button>
                </form>
                
            </div>

        </div>
            
    </body>
        
</html>