<!doctype html>

<html>

    <head>
        <title>Chatter</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="/static/main.js"></script>
        <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">

            <div class="left-panel">

                <h1>Chatter</h1>

                <hr>

                <h2>Username</h2>
                <form class="username-form">
                    <input class="username-form__input" type="text" placeholder="Choose Username">
                    <button class="username-form__button">+</button>
                </form>
                <h3 class="username-title"></h1>

                <hr>

                <h2>Channels</h1> 
                <form class="channel-form">
                    <input class="channel-form__input" type="text" placeholder="Create Channel">
                    <button class="channel-form__button">+</button>
                </form>               
                <ul class="channels-list">
                </ul>
                
            </div>
            
            <div class="right-panel">
                
                
                <h3 class="channel-title"></h1>
                <ul class="messages-list">   
                </ul>
                
                <form class="message-form">
                    <input class="message-form__input" type="text" placeholder="Send a message...">
                    <button class="message-form__button">Send Message</button>
                </form>
                
            </div>

        </div>
            
        </body>
        
        </html>